pip requirements
langchain
langchain-core
langchain-google-genai
langgraph
requests
fastapi
uvicorn
python-dotenv
pydantic
pyotp
tabulate
gunicorn
itsdangerous
starlette 
sqlalchemy
argon2-cffi 
pydantic[email]
pandas 
openpyxl
python-multipart
psycopg2
